@import url("//fonts.2w.vc/suit/static/font.css");
* {
  margin: 0;
  padding: 0;
  font-family: "SUIT", "sans-serif";
  letter-spacing: -0.03em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}
*::-webkit-scrollbar {
  display: none;
}

div {
  position: relative;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  transform-origin: left top;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  cursor: default;
  font-weight: 400;
  text-align: justify;
  color: #2B274B;
  background: #FAFAFF;
}
html #app, body #app {
  position: relative;
  flex: 1;
  overflow: hidden;
}
html #app #navbar, body #app #navbar {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 60px;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(250, 250, 255, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  transition: all 0.5s ease-in-out;
}
html #app #navbar img, body #app #navbar img {
  transition: all 0.5s ease-in-out;
}
html #app #navbar.glass, body #app #navbar.glass {
  background: rgba(250, 250, 255, 0) !important;
  -webkit-backdrop-filter: saturate(100%) blur(0px) !important;
  backdrop-filter: saturate(100%) blur(0px) !important;
  color: #FAFAFF !important;
}
html #app #navbar.glass img, body #app #navbar.glass img {
  filter: brightness(0) invert(1);
}
html #app #navbar #inner, body #app #navbar #inner {
  flex-direction: row;
  align-items: stretch;
}
html #app #navbar #inner #item, body #app #navbar #inner #item {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 15px;
  white-space: nowrap;
  margin: 10px 0 10px 20px;
  padding: 0 10px;
  cursor: pointer;
}
html #app #navbar #inner #item:first-child, body #app #navbar #inner #item:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
  margin-left: 0;
}
html #app #navbar #inner #item:first-child img, body #app #navbar #inner #item:first-child img {
  height: 20px;
  margin-right: 10px;
}
html #app #navbar #inner #item #active, body #app #navbar #inner #item #active {
  font-weight: 600;
  opacity: 0;
}
html #app #navbar #inner #item #deactive, body #app #navbar #inner #item #deactive {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}
html #app #navbar #inner #item.active #active, body #app #navbar #inner #item.active #active {
  opacity: 1 !important;
}
html #app #navbar #inner #item.active #deactive, body #app #navbar #inner #item.active #deactive {
  opacity: 0 !important;
}
html #app #navbar #inner #fill, body #app #navbar #inner #fill {
  flex: 1;
}
html #app #footer, body #app #footer {
  background: #E2E0EC;
}
html #app #footer #inner, body #app #footer #inner {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin: 54px auto;
  opacity: 0.4;
}
html #app #footer #inner #identify, body #app #footer #inner #identify {
  flex-direction: row;
  align-items: center;
}
html #app #footer #inner #identify #logo, body #app #footer #inner #identify #logo {
  width: 54px;
  height: 54px;
  background-image: url("/logo/favicon-96x96.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
html #app #footer #inner #identify #text, body #app #footer #inner #identify #text {
  margin-left: 24px;
}
html #app #footer #inner #identify #text #slogan, body #app #footer #inner #identify #text #slogan {
  font-size: 14px;
}
html #app #footer #inner #identify #text #title, body #app #footer #inner #identify #text #title {
  font-size: 24px;
  font-weight: 600;
}
html #app #footer #inner #menu, body #app #footer #inner #menu {
  align-items: flex-end;
  justify-content: space-between;
}
html #app #footer #inner #menu #sns, body #app #footer #inner #menu #sns {
  flex-direction: row;
}
html #app #footer #inner #menu #sns #item, body #app #footer #inner #menu #sns #item {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
html #app #footer #inner #menu #sns #item.instagram, body #app #footer #inner #menu #sns #item.instagram {
  background-image: url("/icon/instagram.svg");
}
html #app #footer #inner #menu #sns #item.facebook, body #app #footer #inner #menu #sns #item.facebook {
  background-image: url("/icon/facebook.svg");
}
html #app #footer #inner #menu #sns #item.github, body #app #footer #inner #menu #sns #item.github {
  background-image: url("/icon/github.svg");
}
html #app #footer #inner #menu #sns #item.youtube, body #app #footer #inner #menu #sns #item.youtube {
  background-image: url("/icon/youtube.svg");
}
html #app #footer #inner #menu #cc, body #app #footer #inner #menu #cc {
  font-size: 12px;
  font-weight: 600;
}
html #app #scroll, body #app #scroll {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  touch-action: pan-y;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}
html #app #scroll.loaded, body #app #scroll.loaded {
  opacity: 1;
  pointer-events: unset;
}
html #app #scroll #content, body #app #scroll #content {
  height: fit-content;
}
html #app #scroll #content #page, body #app #scroll #content #page {
  padding-top: 60px;
  overflow: hidden;
  scroll-snap-align: start;
}
html #app #scroll #content #page[type=full], body #app #scroll #content #page[type=full] {
  max-height: -webkit-fill-available;
}
html #app #scroll #content #page #inner, body #app #scroll #content #page #inner {
  justify-content: center;
}
html #app.home #content #page.main #inner > #text, body #app.home #content #page.main #inner > #text {
  z-index: 1;
  max-width: 50%;
}
html #app.home #content #page.main #inner > #text #slogan, body #app.home #content #page.main #inner > #text #slogan {
  font-size: 40px;
  font-weight: 500;
  color: #907FDF;
}
html #app.home #content #page.main #inner > #text #title, body #app.home #content #page.main #inner > #text #title {
  font-size: 96px;
  font-weight: 800;
  color: #524B9B;
  margin-top: 16px;
}
html #app.home #content #page.main #inner > #text #description, body #app.home #content #page.main #inner > #text #description {
  display: block;
  font-size: 20px;
  line-height: 180%;
  margin-top: 28px;
  opacity: 0.8;
}
html #app.home #content #page.main #inner > #text #description #bold, body #app.home #content #page.main #inner > #text #description #bold {
  font-weight: 700;
}
html #app.home #content #page.main #inner > #luna3d, body #app.home #content #page.main #inner > #luna3d {
  position: absolute;
  z-index: 0;
  width: 600px;
  height: 600px;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  pointer-events: none;
}
html #app.home #content #page.main #inner > #detail, body #app.home #content #page.main #inner > #detail {
  align-items: center;
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
html #app.home #content #page.main #inner > #detail #icon, body #app.home #content #page.main #inner > #detail #icon {
  width: 36px;
  height: 36px;
  margin-bottom: 8px;
  rotate: 90deg;
  background-image: url("/icon/arrow_forward_ios_dark.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
html #app.home #content #page.main #inner > #detail #text, body #app.home #content #page.main #inner > #detail #text {
  font-size: 14px;
  font-weight: 600;
  color: #3A3A60;
  opacity: 0.8;
}
html #app.home #content #page.project #inner #text, body #app.home #content #page.project #inner #text {
  display: block;
  font-size: 32px;
  font-weight: 500;
  line-height: 180%;
}
html #app.home #content #page.project #inner #text #bold, body #app.home #content #page.project #inner #text #bold {
  font-weight: 700;
  color: #524B9B;
}
html #app.home #content #page.project #inner #mix, body #app.home #content #page.project #inner #mix {
  align-items: flex-end;
  text-align: right;
}
html #app.home #content #page.project #inner #mix #more, body #app.home #content #page.project #inner #mix #more {
  margin-top: 16px;
}
html #app.home #content #page.project #inner #tags, body #app.home #content #page.project #inner #tags {
  margin: 80px 0;
}
html #app.home #content #page.project #inner #tags #line, body #app.home #content #page.project #inner #tags #line {
  align-items: flex-start;
  margin: 6px 0;
}
html #app.home #content #page.project #inner #tags #line:nth-child(2), body #app.home #content #page.project #inner #tags #line:nth-child(2) {
  align-items: flex-end !important;
}
html #app.home #content #page.project #inner #tags #line #mix, body #app.home #content #page.project #inner #tags #line #mix {
  flex-direction: row;
  margin: 0 6px;
}
html #app.home #content #page.project #inner #tags #line #mix #tag, body #app.home #content #page.project #inner #tags #line #mix #tag {
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  color: #FAFAFF;
  padding: 16px 60px;
  border-radius: 10vmin;
  margin: 0 6px;
}
html #app.home #content #page.project #inner #tags #line #mix #tag[style="1"], body #app.home #content #page.project #inner #tags #line #mix #tag[style="1"] {
  background: #2B274B;
}
html #app.home #content #page.project #inner #tags #line #mix #tag[style="2"], body #app.home #content #page.project #inner #tags #line #mix #tag[style="2"] {
  background: #524B9B;
}
html #app.home #content #page.project #inner #tags #line #mix #tag[style="3"], body #app.home #content #page.project #inner #tags #line #mix #tag[style="3"] {
  background: #907FDF;
}
html #app.home #content #page.award #inner #mix, body #app.home #content #page.award #inner #mix {
  flex-direction: row;
  align-items: flex-end;
}
html #app.home #content #page.award #inner #mix #image, body #app.home #content #page.award #inner #mix #image {
  position: relative;
  flex: 1;
  height: 380px;
}
html #app.home #content #page.award #inner #mix #image > *, body #app.home #content #page.award #inner #mix #image > * {
  position: absolute;
}
html #app.home #content #page.award #inner #mix #image #main, body #app.home #content #page.award #inner #mix #image #main {
  right: 0;
  bottom: 0;
  z-index: 1;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  border-radius: 30px;
  background-image: url("/img/home/award.webp");
  background-position: 45% 50%;
  background-repeat: no-repeat;
  background-size: 170%;
}
html #app.home #content #page.award #inner #mix #image #shadow, body #app.home #content #page.award #inner #mix #image #shadow {
  left: 0;
  top: 0;
  background: #FBF9FD;
  width: calc(100% - 150px);
  height: calc(100% - 150px);
}
html #app.home #content #page.award #inner #mix #text, body #app.home #content #page.award #inner #mix #text {
  margin-bottom: 20px;
  width: 50%;
}
html #app.home #content #page.award #inner #mix #text #title, body #app.home #content #page.award #inner #mix #text #title {
  display: block;
  font-size: 32px;
  font-weight: 600;
  line-height: 180%;
  line-height: 48px;
}
html #app.home #content #page.award #inner #mix #text #title #bold, body #app.home #content #page.award #inner #mix #text #title #bold {
  font-weight: 700;
  color: #524B9B;
}
html #app.home #content #page.award #inner #mix #text #description, body #app.home #content #page.award #inner #mix #text #description {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 180%;
  margin-top: 14px;
}
html #app.home #content #page.award #inner #mix #text #description #bold, body #app.home #content #page.award #inner #mix #text #description #bold {
  font-weight: 700;
}
html #app.home #content #page.award #inner #mix #text #more, body #app.home #content #page.award #inner #mix #text #more {
  margin-top: 16px;
}
html #app.home #content #page.future #inner, body #app.home #content #page.future #inner {
  align-items: center;
}
html #app.home #content #page.future #inner #box #text, body #app.home #content #page.future #inner #box #text {
  display: block;
  z-index: 5;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  background: rgba(200, 200, 200, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 100px 80px;
  border-radius: 50px;
}
html #app.home #content #page.future #inner #box #text #bold, body #app.home #content #page.future #inner #box #text #bold {
  font-weight: 700;
}
html #app.home #content #page.future #inner #box #image, body #app.home #content #page.future #inner #box #image {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(0, -10px);
}
@keyframes bounce {
  0% {
    transform: translate(0, -10px);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, -10px);
  }
}
html #app.home #content #page.future #inner #box #image.luna, body #app.home #content #page.future #inner #box #image.luna {
  z-index: 4;
  animation: bounce 4s infinite;
  animation-delay: 0.4s;
}
html #app.home #content #page.future #inner #box #image.luna img, body #app.home #content #page.future #inner #box #image.luna img {
  width: 160px;
  transform: translate(-50px, -100px);
}
html #app.home #content #page.future #inner #box #image.hand, body #app.home #content #page.future #inner #box #image.hand {
  z-index: 4;
  align-items: flex-end;
  justify-content: flex-end;
  animation: bounce 4s infinite;
}
html #app.home #content #page.future #inner #box #image.hand img, body #app.home #content #page.future #inner #box #image.hand img {
  width: 430px;
  transform: translate(240px, 240px);
}
html #app.home #content #page.future #inner #box #image.circle1, body #app.home #content #page.future #inner #box #image.circle1 {
  z-index: 6;
  justify-content: flex-end;
  animation: bounce 4s infinite;
  animation-delay: 0.2s;
}
html #app.home #content #page.future #inner #box #image.circle1 img, body #app.home #content #page.future #inner #box #image.circle1 img {
  width: 70px;
  transform: translate(90px, -40px);
}
html #app.home #content #page.future #inner #box #image.circle2, body #app.home #content #page.future #inner #box #image.circle2 {
  z-index: 6;
  justify-content: flex-end;
  animation: bounce 4s infinite;
  animation-delay: 0.1s;
}
html #app.home #content #page.future #inner #box #image.circle2 img, body #app.home #content #page.future #inner #box #image.circle2 img {
  width: 180px;
  transform: translate(-80px, 70px);
}
html #app.home #content #page.future #inner #box #image.circle3, body #app.home #content #page.future #inner #box #image.circle3 {
  z-index: 4;
  align-items: flex-end;
  animation: bounce 4s infinite;
  animation-delay: 0.3s;
}
html #app.home #content #page.future #inner #box #image.circle3 img, body #app.home #content #page.future #inner #box #image.circle3 img {
  width: 280px;
  transform: translate(120px, -70px);
}
html #app.home #content #more, body #app.home #content #more {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.5;
}
html #app.home #content #more #icon, body #app.home #content #more #icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  background-image: url("/icon/arrow_forward_ios.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
html #app.member #content #page.main, body #app.member #content #page.main {
  background-image: url("/img/member/main/background.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
html #app.member #content #page.main::after, body #app.member #content #page.main::after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
html #app.member #content #page.main #inner, body #app.member #content #page.main #inner {
  z-index: 1;
  color: #FAFAFF;
  text-align: center;
}
html #app.member #content #page.main #inner #title, body #app.member #content #page.main #inner #title {
  font-size: 64px;
  font-weight: 700;
}
html #app.member #content #page.main #inner #description, body #app.member #content #page.main #inner #description {
  display: block;
  font-size: 20px;
  line-height: 180%;
  margin-top: 28px;
  opacity: 0.8;
}
html #app.member #content #page.main #inner #description #bold, body #app.member #content #page.main #inner #description #bold {
  font-weight: 600;
}
html #app.member #content #page.main #inner > #detail, body #app.member #content #page.main #inner > #detail {
  align-items: center;
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
html #app.member #content #page.main #inner > #detail #icon, body #app.member #content #page.main #inner > #detail #icon {
  width: 36px;
  height: 36px;
  margin-bottom: 8px;
  background-image: url("/icon/arrow_forward_ios_white.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
html #app.member #content #page.main #inner > #detail #text, body #app.member #content #page.main #inner > #detail #text {
  font-size: 14px;
  font-weight: 600;
  color: #FAFAFF;
  opacity: 0.8;
}
html #app.member #content #page.member #inner, body #app.member #content #page.member #inner {
  align-items: center;
  justify-content: flex-start !important;
}
html #app.member #content #page.member #inner #title, body #app.member #content #page.member #inner #title {
  font-size: 48px;
  font-weight: 700;
  margin-top: 100px;
}
html #app.member #content #page.member #inner #category, body #app.member #content #page.member #inner #category {
  margin-top: 28px;
  overflow-x: scroll;
  max-width: fit-content;
}
html #app.member #content #page.member #inner #category #mix, body #app.member #content #page.member #inner #category #mix {
  flex-direction: row;
}
html #app.member #content #page.member #inner #category #mix::before, html #app.member #content #page.member #inner #category #mix::after, body #app.member #content #page.member #inner #category #mix::before, body #app.member #content #page.member #inner #category #mix::after {
  content: "";
  min-width: 30px;
}
html #app.member #content #page.member #inner #category #mix #item, body #app.member #content #page.member #inner #category #mix #item {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  color: rgba(58, 58, 96, 0.5);
  border: solid 1px rgba(58, 58, 96, 0.1);
  border-radius: 10vmin;
  padding: 10px 22px;
  margin-right: 16px;
  cursor: pointer;
}
html #app.member #content #page.member #inner #category #mix #item:last-child, body #app.member #content #page.member #inner #category #mix #item:last-child {
  margin-right: 0;
}
html #app.member #content #page.member #inner #category #mix #item.active, body #app.member #content #page.member #inner #category #mix #item.active {
  background: #524B9B;
  color: #FAFAFF;
  border: solid 1px #524B9B;
}
html #app.member #content #page.member #inner #member, body #app.member #content #page.member #inner #member {
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
html #app.member #content #page.member #inner #member #item, body #app.member #content #page.member #inner #member #item {
  align-items: center;
  margin-top: 100px;
  width: 222px;
}
html #app.member #content #page.member #inner #member #item #position, body #app.member #content #page.member #inner #member #item #position {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.5;
}
html #app.member #content #page.member #inner #member #item #image, body #app.member #content #page.member #inner #member #item #image {
  width: 140px;
  height: 140px;
  margin-top: 20px;
  border-radius: 50%;
  background-image: url("/img/member/profile/default.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
html #app.member #content #page.member #inner #member #item #name, body #app.member #content #page.member #inner #member #item #name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
html #app.member #content #page.member #inner #member #item #class, body #app.member #content #page.member #inner #member #item #class {
  font-size: 16px;
  font-weight: 500;
  margin-top: 6px;
  opacity: 0.5;
}
html #app.member #content #page.member #inner #member #item #description, body #app.member #content #page.member #inner #member #item #description {
  display: block;
  width: -webkit-fill-available;
  min-width: -webkit-fill-available;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 20px;
  padding: 16px;
  color: rgba(58, 58, 96, 0.5);
  border: solid 1px rgba(58, 58, 96, 0.1);
  border-radius: 10vmin;
  transition: all 0.1s;
  /*&:hover {
    width: unset;
  }*/
}
html #app.award #content #page.main #inner, body #app.award #content #page.main #inner {
  align-items: flex-end;
}
html #app.award #content #page.main #inner > #text, body #app.award #content #page.main #inner > #text {
  z-index: 1;
  max-width: 60%;
  text-align: right;
}
html #app.award #content #page.main #inner > #text #slogan, body #app.award #content #page.main #inner > #text #slogan {
  font-size: 36px;
  font-weight: 500;
  color: #907FDF;
}
html #app.award #content #page.main #inner > #text #title, body #app.award #content #page.main #inner > #text #title {
  font-size: 84px;
  font-weight: 800;
  color: #524B9B;
  margin-top: 16px;
}
html #app.award #content #page.main #inner > #text #description, body #app.award #content #page.main #inner > #text #description {
  display: block;
  font-size: 20px;
  line-height: 180%;
  margin-top: 28px;
  opacity: 0.8;
}
html #app.award #content #page.main #inner > #text #description #bold, body #app.award #content #page.main #inner > #text #description #bold {
  font-weight: 700;
}
html #app.award #content #page.main #inner #logo, body #app.award #content #page.main #inner #logo {
  position: absolute;
  z-index: 0;
  width: 460px;
  height: 460px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  background-image: url("/img/award/main.webp");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
html #app.award #content #page.main #inner > #detail, body #app.award #content #page.main #inner > #detail {
  align-items: center;
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
html #app.award #content #page.main #inner > #detail #icon, body #app.award #content #page.main #inner > #detail #icon {
  width: 36px;
  height: 36px;
  margin-bottom: 8px;
  rotate: 90deg;
  background-image: url("/icon/arrow_forward_ios_dark.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
html #app.award #content #page.main #inner > #detail #text, body #app.award #content #page.main #inner > #detail #text {
  font-size: 14px;
  font-weight: 600;
  color: #3A3A60;
  opacity: 0.8;
}
html #app.award #content #page.award #inner, body #app.award #content #page.award #inner {
  align-items: flex-start;
  justify-content: flex-start !important;
}
html #app.award #content #page.award #inner #title, body #app.award #content #page.award #inner #title {
  display: block;
  font-size: 48px;
  font-weight: 700;
  margin-top: 100px;
}
html #app.award #content #page.award #inner #title #number, body #app.award #content #page.award #inner #title #number {
  color: #907FDF;
}
html #app.award #content #page.award #inner #category, body #app.award #content #page.award #inner #category {
  margin-top: 28px;
  overflow-x: scroll;
  max-width: fit-content;
  transform: translateX(-30px);
}
html #app.award #content #page.award #inner #category #mix, body #app.award #content #page.award #inner #category #mix {
  flex-direction: row;
}
html #app.award #content #page.award #inner #category #mix::before, html #app.award #content #page.award #inner #category #mix::after, body #app.award #content #page.award #inner #category #mix::before, body #app.award #content #page.award #inner #category #mix::after {
  content: "";
  min-width: 30px;
}
html #app.award #content #page.award #inner #category #mix #item, body #app.award #content #page.award #inner #category #mix #item {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  color: rgba(58, 58, 96, 0.5);
  border: solid 1px rgba(58, 58, 96, 0.1);
  border-radius: 10vmin;
  padding: 10px 22px;
  margin-right: 16px;
  cursor: pointer;
}
html #app.award #content #page.award #inner #category #mix #item:last-child, body #app.award #content #page.award #inner #category #mix #item:last-child {
  margin-right: 0;
}
html #app.award #content #page.award #inner #category #mix #item.active, body #app.award #content #page.award #inner #category #mix #item.active {
  background: #524B9B;
  color: #FAFAFF;
  border: solid 1px #524B9B;
}
html #app.award #content #page.award #inner #award, body #app.award #content #page.award #inner #award {
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-right: -32px;
  margin-bottom: 72px;
}
html #app.award #content #page.award #inner #award #item, body #app.award #content #page.award #inner #award #item {
  color: #3A3A60;
  flex: 1;
  overflow: hidden;
  border: solid 2px rgba(58, 58, 96, 0.1);
  border-radius: 20px;
  min-width: 250px;
  margin-right: 32px;
  margin-bottom: 28px;
}
html #app.award #content #page.award #inner #award #item:first-child, body #app.award #content #page.award #inner #award #item:first-child {
  max-width: unset !important;
}
html #app.award #content #page.award #inner #award #item #image, body #app.award #content #page.award #inner #award #item #image {
  width: 100%;
  height: 160px;
  background: #907FDF;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
html #app.award #content #page.award #inner #award #item #text, body #app.award #content #page.award #inner #award #item #text {
  padding: 0 20px 18px 20px;
}
html #app.award #content #page.award #inner #award #item #text > *, body #app.award #content #page.award #inner #award #item #text > * {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html #app.award #content #page.award #inner #award #item #text #name, body #app.award #content #page.award #inner #award #item #text #name {
  font-size: 14px;
  font-weight: 600;
  margin-top: 14px;
}
html #app.award #content #page.award #inner #award #item #text #prize, body #app.award #content #page.award #inner #award #item #text #prize {
  font-size: 24px;
  font-weight: 700;
  margin-top: 6px;
  color: #907FDF;
}
html #app.award #content #page.award #inner #award #item #text #team, body #app.award #content #page.award #inner #award #item #text #team {
  font-size: 12px;
  font-weight: 500;
  opacity: 0.5;
  margin-top: 20px;
}
html #app.award #content #page.award #inner #award #item #text #date, body #app.award #content #page.award #inner #award #item #text #date {
  font-size: 12px;
  font-weight: 500;
  opacity: 0.5;
  margin-top: 6px;
}
html #app.project #content #page.main, body #app.project #content #page.main {
  background-image: url("/img/project/main/background.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
html #app.project #content #page.main::after, body #app.project #content #page.main::after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
html #app.project #content #page.main #inner, body #app.project #content #page.main #inner {
  z-index: 1;
  color: #FAFAFF;
  text-align: center;
}
html #app.project #content #page.main #inner #title, body #app.project #content #page.main #inner #title {
  font-size: 64px;
  font-weight: 700;
  flex-direction: row;
  justify-content: center;
}
html #app.project #content #page.main #inner #description, body #app.project #content #page.main #inner #description {
  display: block;
  font-size: 20px;
  line-height: 180%;
  margin-top: 28px;
  opacity: 0.8;
}
html #app.project #content #page.main #inner #description #bold, body #app.project #content #page.main #inner #description #bold {
  font-weight: 600;
}
html #app.project #content #page.main #inner > #detail, body #app.project #content #page.main #inner > #detail {
  align-items: center;
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
html #app.project #content #page.main #inner > #detail #icon, body #app.project #content #page.main #inner > #detail #icon {
  width: 36px;
  height: 36px;
  margin-bottom: 8px;
  background-image: url("/icon/arrow_forward_ios_white.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
html #app.project #content #page.main #inner > #detail #text, body #app.project #content #page.main #inner > #detail #text {
  font-size: 14px;
  font-weight: 600;
  color: #FAFAFF;
  opacity: 0.8;
}
html #app.project #content #page.project #inner, body #app.project #content #page.project #inner {
  align-items: flex-start;
  justify-content: flex-start !important;
}
html #app.project #content #page.project #inner #title, body #app.project #content #page.project #inner #title {
  display: block;
  font-size: 48px;
  font-weight: 700;
  margin-top: 100px;
}
html #app.project #content #page.project #inner #title #number, body #app.project #content #page.project #inner #title #number {
  color: #907FDF;
}
html #app.project #content #page.project #inner #category, body #app.project #content #page.project #inner #category {
  margin-top: 28px;
  overflow-x: scroll;
  max-width: fit-content;
  transform: translateX(-30px);
}
html #app.project #content #page.project #inner #category #mix, body #app.project #content #page.project #inner #category #mix {
  flex-direction: row;
}
html #app.project #content #page.project #inner #category #mix::before, html #app.project #content #page.project #inner #category #mix::after, body #app.project #content #page.project #inner #category #mix::before, body #app.project #content #page.project #inner #category #mix::after {
  content: "";
  min-width: 30px;
}
html #app.project #content #page.project #inner #category #mix #item, body #app.project #content #page.project #inner #category #mix #item {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  color: rgba(58, 58, 96, 0.5);
  border: solid 1px rgba(58, 58, 96, 0.1);
  border-radius: 10vmin;
  padding: 10px 22px;
  margin-right: 16px;
  cursor: pointer;
}
html #app.project #content #page.project #inner #category #mix #item:last-child, body #app.project #content #page.project #inner #category #mix #item:last-child {
  margin-right: 0;
}
html #app.project #content #page.project #inner #category #mix #item.active, body #app.project #content #page.project #inner #category #mix #item.active {
  background: #524B9B;
  color: #FAFAFF;
  border: solid 1px #524B9B;
}
html #app.project #content #page.project #inner #project, body #app.project #content #page.project #inner #project {
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-right: -32px;
  margin-bottom: 72px;
}
html #app.project #content #page.project #inner #project #item, body #app.project #content #page.project #inner #project #item {
  color: #3A3A60;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
  border: solid 2px rgba(58, 58, 96, 0.1);
  border-radius: 20px;
  min-width: 400px;
  margin-right: 32px;
  margin-bottom: 28px;
  padding: 26px;
}
html #app.project #content #page.project #inner #project #item:first-child, body #app.project #content #page.project #inner #project #item:first-child {
  max-width: unset !important;
}
html #app.project #content #page.project #inner #project #item #image, body #app.project #content #page.project #inner #project #item #image {
  min-width: 140px;
  height: 140px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
html #app.project #content #page.project #inner #project #item #text, body #app.project #content #page.project #inner #project #item #text {
  flex: 1;
  margin-left: 27px;
}
html #app.project #content #page.project #inner #project #item #text #name, body #app.project #content #page.project #inner #project #item #text #name {
  font-size: 24px;
  font-weight: 700;
}
html #app.project #content #page.project #inner #project #item #text #description, body #app.project #content #page.project #inner #project #item #text #description {
  font-size: 16px;
  font-weight: 500;
  margin-top: 6px;
  opacity: 0.8;
}
html #app.project #content #page.project #inner #project #item #text #prize, body #app.project #content #page.project #inner #project #item #text #prize {
  font-size: 24px;
  font-weight: 700;
  margin-top: 6px;
  color: #907FDF;
}
html #app.qna #content #page.main #inner, body #app.qna #content #page.main #inner {
  padding: 240px 0 200px 0;
}
html #app.qna #content #page.main #inner #text, body #app.qna #content #page.main #inner #text {
  z-index: 1;
  max-width: 40%;
}
html #app.qna #content #page.main #inner #text #title, body #app.qna #content #page.main #inner #text #title {
  font-size: 36px;
  font-weight: 600;
}
html #app.qna #content #page.main #inner #text #description, body #app.qna #content #page.main #inner #text #description {
  display: block;
  font-size: 20px;
  line-height: 180%;
  margin-top: 16px;
}
html #app.qna #content #page.main #inner #text #description #bold, body #app.qna #content #page.main #inner #text #description #bold {
  font-weight: 700;
}
html #app.qna #content #page.main #inner iframe, body #app.qna #content #page.main #inner iframe {
  position: absolute;
  z-index: 0;
  width: 586px;
  height: 330px;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
html #app.qna #content #page.qna #inner, body #app.qna #content #page.qna #inner {
  justify-content: flex-start !important;
  padding-bottom: 100px;
}
html #app.qna #content #page.qna #inner #item, body #app.qna #content #page.qna #inner #item {
  color: #3A3A60;
  border: solid 2px rgba(58, 58, 96, 0.1);
  border-radius: 20px;
  margin-top: 28px;
}
html #app.qna #content #page.qna #inner #item #q, html #app.qna #content #page.qna #inner #item #a, body #app.qna #content #page.qna #inner #item #q, body #app.qna #content #page.qna #inner #item #a {
  padding: 28px 36px;
}
html #app.qna #content #page.qna #inner #item #q #mix, html #app.qna #content #page.qna #inner #item #a #mix, body #app.qna #content #page.qna #inner #item #q #mix, body #app.qna #content #page.qna #inner #item #a #mix {
  flex-direction: row;
}
html #app.qna #content #page.qna #inner #item #q #mix #type, html #app.qna #content #page.qna #inner #item #a #mix #type, body #app.qna #content #page.qna #inner #item #q #mix #type, body #app.qna #content #page.qna #inner #item #a #mix #type {
  font-size: 20px;
  font-weight: 700;
  margin-right: 16px;
}
html #app.qna #content #page.qna #inner #item #q #mix #text, html #app.qna #content #page.qna #inner #item #a #mix #text, body #app.qna #content #page.qna #inner #item #q #mix #text, body #app.qna #content #page.qna #inner #item #a #mix #text {
  font-size: 20px;
  font-weight: 500;
}
html #app.qna #content #page.qna #inner #item #q, body #app.qna #content #page.qna #inner #item #q {
  cursor: pointer;
}
html #app.qna #content #page.qna #inner #item #q #mix #text, body #app.qna #content #page.qna #inner #item #q #mix #text {
  opacity: 0.6;
}
html #app.qna #content #page.qna #inner #item #a, body #app.qna #content #page.qna #inner #item #a {
  height: 0;
  padding: 0;
  overflow: hidden;
}
html #app.qna #content #page.qna #inner #item #a #mix > *, body #app.qna #content #page.qna #inner #item #a #mix > * {
  line-height: 200%;
}
html #app.qna #content #page.qna #inner #item #a #mix #text, body #app.qna #content #page.qna #inner #item #a #mix #text {
  opacity: 0.9;
}
html #app.qna #content #page.qna #inner #item.active, body #app.qna #content #page.qna #inner #item.active {
  background: rgba(144, 127, 223, 0.1);
}
html #app.qna #content #page.qna #inner #item.active #q #mix #text, body #app.qna #content #page.qna #inner #item.active #q #mix #text {
  opacity: 1;
  font-weight: 600;
}
html #app.qna #content #page.qna #inner #item.active #a, body #app.qna #content #page.qna #inner #item.active #a {
  height: unset;
  margin: 0 36px 28px 36px;
  padding-top: 28px;
  border-top: solid 1px rgba(58, 58, 96, 0.1);
}
html #inner, body #inner {
  width: calc(100% - 60px);
  flex: 1;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

/*# sourceMappingURL=style.css.map */
